DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DB_DIALECT=postgres

JWT_SECRET_KEY=
JWT_REFRESH_SECRET=


GMAIL_USER=
GMAIL_PASS=

PORT=4000
FRONTEND_ORIGINS=http://localhost:3000
